div.directions
    div _________________________________
    h1 Directions
    h1 ST FRANCIS OF ASSISI
    p 5111 SAN FELIPE RD, SAN JOSE, CA 95135
    p
    p
      h1 Cinnabar Hills
    p Cinnabar Hills Golf Club • 23600 McKean Rd San Jose, CA 95141 • 408.323.5200
    p
      h5 From San Jose - Hwy 101 Route
      ul
        li Highway 101 South, exit Bailey Ave
        li
          | Turn right on Bailey Ave, go until it dead ends into McKean Rd (stop sign, 3 miles)
        li Turn left on McKean Rd
        li Cinnabar Hills will be on your left hand side in one mile
      h5 From San Jose - Hwy 280 to 85 Route
      ul
        li
          Highway 85 south, exit Almaden Expressway
          Take Almaden Expressway south until it dead ends into Harry Rd (stop light)
          Turn right on Harry Rd, go 100 yards until you get to McKean Rd
          | Turn left on McKean Rd (at stop sign), go five miles (pass Calero Lake to your right)
        li 
          Cinnabar Hills will be on your left hand side
      h5 From Gilroy: (Hwy 101 Route)
      ul
        li 
          Highway 101 North, exit Bailey Ave
          | Turn Left on Bailey Ave and go 3 miles until it dead ends into McKean Rd (stop sign)
          Turn left on McKean Rd
          Cinnabar Hills will be on your left hand side in one mile
      h5
        strong Alternate Route:
        | (if Bailey Road closed)
      ul
        li Highway 101 exit at Tennant Avenue in Morgan Hill and go west.
        li
          | Continue west on Tennant Avenue (at Monterey Hwy, Tennant Avenue changes to Edmundson)
        li Continue on Edmundson and cross over bridge.
        li
          | Turn right on
          strong Oak Glen Avenue
          | . Continue on Oak Glen and cross a small bridge until you come to a stop sign.
        li
          | Turn left at the stop sign onto
          strong Oak Glen Road
          | and continue towards Chesbro Dam.
        li
          | Continue beyond Chesbro Dam until you reach a stop sign. At the stop sign turn right onto Uvas Road.
        li
          | Continue on Uvas Road for approximately 3 miles. Turn right into front gate of Cinnabar Hills Golf Club.