div.nav
  ul
    li 
      a(href="#announcement") Announcement
    li 
      a(href="#directions") Directions
    li
     a(href="#program") Program
    li
     a(href="#rsvp") RSVP
    li
     a(href="#registry") Registry  