extends layout

block content
  div.container
    div.site-wrapper
      div.masthead.animated.fadeIn
        div.navbar
          ul
            li
             a(href="directions") Directions
             a(href="program") Program
             a(href="rsvp") RSVP
             a(href="honeyfund") Honeyfund
      div.animated.bounceInDown
        h1.text-center#heading Jon and Xiao
        div.non-semantic-protector
          div.ribbon
            strong.ribbon-content
              h1 05 . 24 . 15
      div.animated.fadeIn
        p After 8 years of being together, we are finally tying the knot. Thank you for taking the time to visit our wedding page. We are glad that to have known all of you, and friendship, companionship, witness of our love.  See you on the big day!
        p 2PM
        p ST FRANCIS OF ASSISI
        P 5111 SAN FELIPE RD, SAN JOSE, CA 95135
        P
        P RECEPTION AND DINNER TO FOLLOW

  script(src='https://code.jquery.com/jquery-2.1.1.min.js')
  script(src='https://hammerjs.github.io/dist/hammer.min.js')

